/* the styles for the elements used in the Feedback page */
/*Article*/
article {
	width: 430px;
	float: left;
	padding: 20px 25px 20px 25px;	
	color: white;
}
textarea {
	height: 7em;
	width: 30em;
}

#submit, #reset {
	width: 5em; 
	box-shadow: 2px 2px 0 black;
	background-color: black;
	color: white;
	margin: 1em 5em;
}
input:focus , textarea:focus {
	border: 2px solid black;
}

/* Right Side */
#RightAside  {
	float: right; 
	width: 128px;
	padding: 30px 10px 10px 20px; 
	border-left: 2px solid black;
}



